php_value session.save_path "../application/tmp/session"
php_value session.auto_start 0

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_METHOD} =GET
	RewriteCond %{QUERY_STRING} ^(.*)$
	RewriteRule	^(.*)css/(.*)$		public/css/$2 [L]
	RewriteRule	^(.*)fonts/(.*)$		public/fonts/$2 [L]
	RewriteRule	^(.*)img/(.*)$		public/img/$2 [L]
	RewriteRule	^(.*)js/(.*)$		public/js/$2 [L]	
	RewriteRule	^.*$	public/index.php	[L]
</IfModule>
