# Setting environment
SetEnv APPLICATION_ENV production

RewriteEngine On

#Setting the first part of the path-info for the rules below
RewriteBase /mynote/public/
# "if exists"
RewriteCond %{REQUEST_FILENAME} -s [OR]
# "if is dowiązanie symboliczne" 
RewriteCond %{REQUEST_FILENAME} -l [OR]
# "is directory"
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]